.title {
  font-size: 56px;
  color: gold;
  margin-left: 140px;
}
.main {
  font-size: 24px;
  color: black;
  margin-left: 140px;
  margin-top: -2px;
}
.nav {
  left: 120px;
  text-align: center;
  margin-left: 120px;
}
.nav a {
  text-decoration: none;
  font-size: 24px;
  color: black;
  background-color: gold;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  border-style: solid;
  border-color: black;
  position: relative;
}
.topbar {
  z-index: -1;
  position: fixed;
  height: 98px;
  width: 110vw;
  top: 0px;
  left: 0px;
  background-color: grey;
  border-style: solid;
}
.sidebar {
  position: fixed;
  height: 150vh;
  width: 120px;
  top: 0;
  left: 0;
  background-color: black;
  margin-left: -10px;
  margin-top: -50vh;
}
.navigation {
  position: fixed;
  left: 98vw;
  top: 98vh;
  width: 14px;
  height: 14px;
}
.input {
  position: fixed;
  left: 55vw;
  top: 20vh;
}
.preview {
  max-width: 30vw;
  margin-top: 15vh;
  margin-left: 15vw;
  border-radius: 6px;
}
.titl {
  font-size: 56px;
  color: gold;
  margin-left: 140px;
  position: flex: 1 1 auto;
}
