.title {
  font-size: 56px;
  color: gold;
  margin-left: 140px;
}
.main {
  font-size: 24px;
  color: black;
  margin-left: 140px;
}
.nav {
  left: 120px;
  text-align: center;
}
.nav a {
  position: flex: 1 2 auto;
  text-decoration: none;
  font-size: 24px;
  color: black;
  background-color: gold;
}
.sidebar {
  position: fixed;
  height: 150vh;
  width: 120px;
  top: 0;
  left: 0;
  background-color: black;
  margin-left: -10px;
  margin-top: -50vh;
}
