/* Navigation and Title */
.title {
  z-index: 2;
  display: flex;
  position: absolute;
  width: 640px;
  height: 120px;
  margin-left: 15vw;
  top: 70px;
}
.title a {
  display: inline-block;
  position: relative;
  height: 100%;
  border-radius: 50%;
}
.title a img {
  position: relative;
  height: 100%;
  border-radius: 50%;
}
.titletext {
  position: relative;
  display: flex;
  height: 60%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3%;
  flex-direction: column;
}
.head {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  font-size: 200%;
  color: rgb(36,36,36);
}
.main {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  font-size: 100%;
  color: rgb(101,101,101);
}
.navc {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 105vw;
  left: -5vw;
  height: 80px;
  top: 220px;
  justify-content: center;
  border: solid rgb(210,210,210) 1px;
  font-size: 18px;
}
.nav {
  display: flex;
  width: 48vw;
  justify-content: space-evenly;
}
.nav li {
  display: flex;
  text-align: center;
  padding-right: 12px;
  margin-top: -0.5%;
  width: 40%;
}
.nav a {
  margin: auto;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  color: rgb(36,36,36);
  padding: 4%;
  padding-right: 4.4%;
  font-size: 1em;
}
.light {
  background-color: rgb(37,42,54);
  color: white !important;
}
.nav a:hover {
  background-color: rgb(37,42,54);
  color: white;
}
.nav div {
  position: relative;
  display: inline-block;
  margin: auto;
  height: 70%;
  width: 2px;
  background-color: rgb(210,210,210);
}
.topbar {
  z-index: 4;
  position: fixed;
  height: 45px;
  width: 110vw;
  top: -5px;
  left: -5px;
  background-color: rgb(36,36,36);
}

/* From Styling */
.input {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35vh;
  left: 5vw;
  background-color: rgb(157,162,174);
  max-width: 50vw;
  height: 50vh;
  width: 35vw;
}
.input h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}
.input input {
  width: 40%;
  border-radius: 5px;
}
.input textarea {
  width: 94%;
  height: 120%;
  border-radius: 5px;
}
.input div {
  margin-left: 5%;
}
.inputhead {
  font-family: "Noto Sans", sans-serif;
  margin-left: 5%;
  margin-top: 1.5%;
  padding-top: 1%;
  font-size: 18px;
  margin-right: 4.5%;
}
.lab {
  margin-right: 56% !important;
}
input[type="file"] {
  display: none;
}
.fileinput {
  margin-left: 5.1%;
  margin-top: 5%;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 87%;
  border-radius: 5px;
  background-color: white;
}
.preview {
  max-width: 30vw;
  margin-top: 40vh;
  margin-left: 55vw;
  border: solid rgb(37,42,54) 2px;
  border-radius: 2px;
  visibility: hidden;
}
input[type=submit] {
  width: 23%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
  background-color: rgb(37,42,54);
  color: white;
  border: none;
  font-size: 16px;
  padding: 14px;
  border-radius: 2px;
  font-family: sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type=submit]:hover {
  background-color: rgb(17,22,34);
}

/* Search Styling */
.searchcontainer {
  width: 100vw;
  position: fixed;
  display: block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35vh;
  z-index: 2;
}
.back {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 40vh;
  width: 100vw;
}
#searchInput {
  z-index: 2;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70vw;
  padding: 10px;
}
.item-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
  z-index: -1;
}
.item-card img {
  max-width: 200px;
  display: block;
  margin-top: 10px;
  z-index: -1;
}
.results-container {
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
  z-index: -1
}
#claimpage {
  background-color: white !important;
}
#claimpage label {
  padding-top: 12px;
}
#claimtitle {
  margin-left: 4vw;
}
@media (max-width: 1000px) {

  .topbar {
    height: 35px;
  }
  .title {
    top: 55px;
    height: 60px;
    width: 320px;
  }
  .title a img {
    height: 60px;
  }
  .head {
    font-size: 100%;
  }
  .main {
    font-size: 50%;
  }
  .navc {
    height: 60px;
    font-size: 12px;
    top: 140px;
    background-color: white;
    z-index: 2;
  }
  .input {
    left: 0px;
    top: 200px;
    width: 50vw;
    margin-left: 8vw;
  }
  input[type=file] {
    font-size: 10px;
  }
  input[type=submit] {
    width: 50%;
    font-size: 10px;
  }
  .fileinput {
    top: 20px;
    width: 50%;
    font-size: 14px;
  }
  .preview {
    margin-top: 220px;
  }
  .searchcontainer {
    margin-top: 25vh;
  }
  .back {
    margin-top: 26vh;
  }
}


