.home img{
  position: fixed;
  width: 70px;
  height: 70px;
  margin-left: 12.5px;
  top: 20px;
  z-index: 7;
}
.title {
  font-size: 56px;
  color: gold;
  top: 15px;
  left: 140px;
  position: fixed;
  z-index: 5;
}
.main {
  font-size: 24px;
  color: black;
  left: 140px;
  margin-top: -70px;
  position: fixed;
  z-index: 5;
}
.nav {
  left: 120px;
  margin-top: 15vh;
  text-align: center;
  margin-left: 120px;
}
.nav a {
  text-decoration: none;
  font-size: 24px;
  color: black;
  background-color: gold;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  border-style: solid;
  border-color: black;
  position: relative;
}
.topbar {
  z-index: 4;
  position: fixed;
  height: 98px;
  width: 110vw;
  top: 0px;
  left: 0px;
  background-color: grey;
  border-style: solid;
}
.sidebar {
  z-index: 5;
  position: fixed;
  height: 150vh;
  width: 120px;
  top: 0;
  left: 0;
  background-color: black;
  margin-left: -10px;
  margin-top: -50vh;
}
.input {
  position: fixed;
  left: 55vw;
  top: 20vh;
}
.preview {
  max-width: 30vw;
  margin-top: 15vh;
  margin-left: 15vw;
  border-radius: 6px;
}
.search-container {
  margin: 20px;
  margin-top: 40;
  border: 10px;
}
#searchInput {
  width: 70vw;
  padding: 10px;
  font-size: 16px;
  margin-left: 150px;
  margin-top: 130px;
}
.item-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
}
.item-card img {
  max-width: 200px;
  display: block;
  margin-top: 10px;
}
.results-container {
  width: 70vw;
  margin-left: 150px;
}
