.title {
  display: flex;
  position: absolute;
  width: 640px;
  height: 120px;
  margin-left: 15vw;
  top: 70px;
}
.title a {
  display: inline-block;
  position: relative;
  height: 100%;
  border-radius: 50%;
}
.title a img {
  position: relative;
  height: 100%;
  border-radius: 50%;
}
.titletext {
  position: relative;
  display: flex;
  height: 60%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3%;
  flex-direction: column;
}
.head {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  font-size: 200%;
  color: rgb(36,36,36);
}
.main {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  font-size: 100%;
  color: rgb(101,101,101);
}
.navc {
  position: absolute;
  display: flex;
  width: 105vw;
  left: -5vw;
  height: 80px;
  top: 25vh;
  justify-content: center;
  border: solid rgb(210,210,210) 1px;
  font-size: 18px;
}
.nav {
  display: flex;
  width: 48vw;
  justify-content: space-evenly;
}
.nav li {
  display: flex;
  text-align: center;
  padding-right: 12px;
  margin-top: -0.5%;
  width: 40%;
}
.nav a {
  margin: auto;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  color: rgb(36,36,36);
  padding: 4%;
  padding-right: 4.4%;
  font-size: 1em;
}
.light {
  background-color: rgb(37,42,54);
  color: white !important;
}
.nav a:hover {
  background-color: rgb(37,42,54);
  color: white;
}
.nav div {
  position: relative;
  display: inline-block;
  margin: auto;
  height: 70%;
  width: 2px;
  background-color: rgb(210,210,210);
}
.topbar {
  z-index: 4;
  position: fixed;
  height: 45px;
  width: 110vw;
  top: -5px;
  left: -5px;
  background-color: rgb(36,36,36);
}
.input {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35vh;
  left: 5vw;
  background-color: blue;
  max-width; 50vw;
  height: 50vh;
  width: 35vw;
}
.preview {
  max-width: 30vw;
  margin-top: 40vh;
  margin-left: 55vw;
  border: solid rgb(37,42,54) 2px;
  border-radius: 2px;
}
.nam {
  position: relative;
  height: 30px;
  width: 160px;
}
.desc {
  position: relative;
  height: 200px;
  width: 200px;
}
.submition {
  width: 2vw;
}











#searchInput {
  width: 70vw;
  padding: 10px;
  font-size: 16px;
  margin-left: 150px;
  margin-top: 130px;
}
.item-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
}
.item-card img {
  max-width: 200px;
  display: block;
  margin-top: 10px;
}
.results-container {
  width: 70vw;
  margin-left: 150px;
}
@media (max-width: 1000px) {

  .topbar {
    height: 35px;
  }
  .title {
    height: 60px;
    width: 320px;
  }
  .title a img {
    height: 60px;
  }
  .head {
    font-size: 100%;
  }
  .main {
    font-size: 50%;
  }
  .navc {
    height: 60px;
    font-size: 12px;
    top: 15vh;
  }
}


